<div class="w-75 mx-auto">
    <div class="mx-auto" id="info">
        <h1 class="mt-3">Om Card Haven</h1>
        <h2>Viktig information</h2>
        <p>Card Haven är ett projektarbete i kursen <em>Webbutveckling med .NET</em>,en del av utbildningen i
            webbutveckling
            vid
            Mittuniversitetet.</p>

        <p>De auktioner som finns tillgängliga på webbplatsen är alltså endast fiktiva auktioner som är en del av
            utvecklingsarbetet. Således används inga riktiga pengar eller riktiga auktioner</p>

        <h2>Syftet med projektet</h2>
        <p>Syftet med projektet är att skapa en auktionsplattform där användare kan köpa och sälja samlarkort.
    </div>
</div>
