@model IEnumerable<CardHaven.Models.AuctionModel>
@{
    ViewData["Title"] = "Start";
}

<h1 class="display-4">Sveriges största auktionssajt för samlarkort</h1>
<h2>Populära annonser:</h2>

<!--Skriver ut auktionerna till skärmen. Om inga finns visas meddelande-->
<div>
    <article>
        @if (Model == null || !Model.Any())
        {
            <p>Inga auktioner tillgängliga...</p>
        }
        else
        {
            @foreach (var auction in Model)
            {   
                <div>
                
                </div>
            }
        }
    </article>
</div>
