html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1b6ec2;
    border-color: #1861ac;
  }

  .nav-link.active {
    color: #fff !important;
  }

  .navbar-brand p {
    margin-bottom: 0;
  }

  .bi {
    font-size: 1.5rem;
  }

  #banner-image {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: 646px;
  }

  .popup-text-container {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right,#003366, #2575fc);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.popup-text {
    font-size: 1rem; 
    color: white;
    transform: scale(1) translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.popup-text-container:hover .popup-text {
    transform: scale(1.2) translateY(0); 
    font-size: 1.5rem;
}

.card {
  max-width: 350px;
  width: 100%;
  margin: auto;
  padding: 0;
  border: none;
}

.card-img-top {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

#offer-img {
  width: 100%;
  max-width: 350px;
}

#info {
  width: 50%;
}

footer {
  height: 50px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

@media (max-width: 994px) {
  #banner-text {
    display:none;
  }

  #first-navbar, #second-navbar {
    flex-direction: column;
  }

  .card-img-top {
    max-height: 500px;
    height: auto;
  }

}

@media (max-width: 800px) {
  .popup-text-container {
    display: none;
  }
}

@media (max-width: 767px) {
  #bid {
    margin: 2% auto;
  }
  #info {
      width: 100%;
    }
}


  
