@model CardHaven.Models.AuctionModel

@{
    ViewData["Title"] = "Redigera";
}
<div class="container-fluid w-50">
    <h1 class="py-3 px-3">Redigera</h1>
    <hr />
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Set" class="control-label"></label>
            <input asp-for="Set" class="form-control" />
            <span asp-validation-for="Set" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Condition" class="control-label"></label>
            <select asp-for="Condition" class="form-control">
                <option value="Mint">Mint</option>
                <option value="Near Mint">Near Mint</option>
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Light Played">Light Played</option>
                <option value="Played">Played</option>
                <option value="Poor">Poor</option>
                <option value="Ej Bedömd">Ej Bedömd</option>
            </select>
            <span asp-validation-for="Condition" class="text-danger"></span>
        </div>
        <div class="form-group">
            <!--Visar befintlig bild-->
            <label>Bild</label><br>
            @if (!string.IsNullOrEmpty(Model.ImageName))
            {
                <img src="@Url.Content("~/images/" + Model.ImageName)" alt="@Model.Name" class="img-fluid" />
            }
            else
            {
                <p><em>Ingen bild uppladdad</em></p>
            }
        </div>
        <div class="form-group">
            <label class="control-label">Välj ny bild</label>
            <input asp-for="ImageFile" class="form-control" accept="image/*" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AskingPrice" class="control-label"></label>
            <input asp-for="AskingPrice" class="form-control" />
            <span asp-validation-for="AskingPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <input asp-for="EndTime" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
        <div class="d-flex align align-items-center">
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary my-3 mx-3" />
            </div>
            <div class="my-3 mx-3 align-items-center justify-content-center">
                <a asp-action="Index">Tillbaka</a>
            </div>
        </div>
    </form>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
